<div>

  <!-- page 1 -->
  <div class="page" id="page1" page-size="A4">
    <div class="sheet">
      <!-- <button class="btn btn-print btn-sm btn-light" onClick="handlePrint()">
        <i class="fa fa-print"></i> Print
      </button> -->





      <div class="resume">

        <section class="resume_header">
          <div>
            <h1>{{ vm.data.name }}</h1>

            <div class="info-item">
              <span class="info-label">
                <i class="fa fa-location-arrow"></i>
              </span>
              <span class="info-text">{{ vm.data.location }}</span>
            </div>

            <!-- email, phone, LinkedIn, GitHub links -->
            <div class="info-item" ng-repeat="linkData in vm.data.titleLinks">
              <span class="info-label">
                <i class="fa {{ linkData.icon }}"></i>
              </span>
              <span class="info-text">
                <a class="phone-number" href="{{ linkData.link }}">{{ linkData.display }}</a>
              </span>
            </div>


          </div>
        </section>


        <section class="resume__section">

          <div class="resume__content">
            <div class="resume_section-title"><i class="fa fa-pencil-square-o"></i>
              <h2>Professional Summary</h2>
            </div>

            <div class="other">
              <div class="other-info">
                <p ng-repeat="paragraph in vm.data.professionalSummary">{{ paragraph }}</p>
              </div>
            </div>

          </div>
        </section>

        <section class="resume__section">

          <div class="resume__content">
            <div class="resume_section-title">
              <i class="fa fa-align-center"></i>
              <h2>Skills</h2>
            </div>

            <div class="resume_columns skills-column-left">

              <div class="extra" ng-repeat="skill in vm.data.leftSkills">
                <div class="skills-title">{{ skill.heading }}</div>
                <div class="extra-info">
                  <small>{{ skill.skills.join(" &#x2E31; ") }}</small>
                  <div class="extra-details">
                    <!-- <div class="extra-details__progress" style="width:100%"></div> -->
                  </div>
                </div>
              </div>


            </div>


            <div class="resume_columns skills-column-right">

              <div class="extra" ng-repeat="skill in vm.data.rightSkills">
                <div class="skills-title">{{ skill.heading }}</div>
                <div class="extra-info">
                  <small>{{ skill.skills.join(" &#x2E31; ") }}</small>
                  <div class="extra-details">
                    <!-- <div class="extra-details__progress" style="width:100%"></div> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </div>




  <!-- page 2 -->
  <div class="page" id="page2" page-size="A4">

    <div class="resume">
      <section class="resume__section">
        <div class="resume__content">

          <div class="resume_section-title"><i class="fa fa-briefcase"></i>
            <h2>Professional Experience</h2>
          </div>

          <div class="xp-item" ng-repeat="job in vm.data.experience">

            <div class="xp-job">{{ job.title }}
              <span>@ {{ job.company }}</span><br /><small>{{ job.location }}</small>
            </div>
            <div class="xp-date">{{ job.dates }}</div>

            <div class="xp-detail" ng-if="job.list">
              <ul>
                <li ng-repeat="paragraph in job.paragraphs">{{ paragraph }}</li>
              </ul>
            </div>

            <div class="xp-detail" ng-if="!job.list">
              <p ng-repeat="paragraph in job.paragraphs">{{ paragraph }}</p>
            </div>

          </div>

        </div>
      </section>


      <section class="resume__section">
        <div class="resume__content">

          <div class="resume_section-title">
            <i class="fa fa-graduation-cap"></i>
            <h2>Education</h2>
          </div>


          <div class="xp-item" ng-repeat="educationItem in vm.data.education">
            <div class="xp-job">{{ educationItem.name }}
              <div class="xp-date">{{ educationItem.dates }}</div>
            </div>
          </div>

        </div>
      </section>


    </div>
  </div>


  <!-- Page Counter -->
  <div class="page-counter">
    <h2>You are visitor: {{ vm.data.visitors | formatVisitor }}</h2>
  </div>



</div>