
<navigation></navigation>

<div class="container">
	<page-header content='vm.pageHeader'></page-header>

	<div class="row">
		<!-- content area -->
		<div class="col-xs-12 col-md-9">
			<!-- 
				row 1: contains 2 columns: 
					column 1: rating, address, opening hours, facilities
					column 2: location map
				 -->

			<div class="row">
				 <!-- column 1: rating, address, opening hours, facilities -->
				 <div class="col-xs-12 col-md-6">
						<p rating-stars rating='vm.data.location.rating'></p>
						<p>{{vm.data.location.address}}</p>

						<!-- Opening Hours -->
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Opening hours</h2>
							</div>

							<div class="panel-body">
								<p ng-repeat="opening_time in vm.data.location.openingTimes" ng-switch="opening_time.closed">{{opening_time.days}} : 
									<span class="opening-time" ng-switch-when="true">closed</span>
									<span class="opening-time" ng-switch-default>{{opening_time.opening + ' - '+ opening_time.closing}}</span>
								</p>
							</div>
						</div>


						<!-- Facilities -->
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2 class="panel-title">Facilities</h2>
							</div>

							<div class="panel-body">
								<span class="badge text-bg-primary" ng-repeat-start="facility in vm.data.location.facilities track by $index">{{facility}}</span>
								<span ng-repeat-end>&nbsp;</span>
							</div>
						</div>

				 </div>


				<!-- column 2: location map -->
				<div class="col-xs-12 col-md-6">
					<div id="map-locations"></div> 	
				</div>

			</div>

			<!-- row 2: contains 1 columns for reviews -->
			<div class="row mt-3">
				<!-- column 1: reviews -->
				<div class="col-xs-12">
					<!-- Reviews -->
					<div class="panel panel-primary review-panel">
						<div class="panel-heading my-3">


							<!-- <button ng-show="vm.isLoggedIn" type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#reviewForm">Add Review</button> -->
							
							<a ng-show="vm.isLoggedIn" href="/#/addreview{{vm.currentPath}}" class="btn btn-primary float-end">Add Review</a>


							<a ng-hide="vm.isLoggedIn" href="/#/login?page={{vm.currentPath}}" class="btn btn-primary float-end">Login to add review</a>

							<h2 class="panel-title">Customer Reviews</h2>

						</div>

						<div class="review" ng-repeat="review in vm.data.location.reviews | orderBy: 'created_on' : true">

							<div class="card mb-3">
								<div class="card-body">
									<div class="row">
																			
										<!-- author summary: pic, name, reviews -->
										<div class="col-md-3">
											<div class="text-center">
												<img src="http://127.0.0.1:5000/api/profile/{{review.author_id}}" alt="" width="50", height="50" class="img img-rounded img-fluid profile-pic" style="">
												<p class="fw-lighter">{{review.authorShort}}<br/>{{review.author_reviews}} reviews</p>
											</div>
										</div>

										<!-- review:  -->
										<div class="col-md-7">
											<p class="fw-light">
												<span class="rating" rating-stars rating="review.rating"></span>
												&nbsp Reviewed {{review.moment}}

											</p>
											<p ng-bind-html="review.review_text | addHtmlLineBreaks"></p>
										</div>

									</div>
								</div>
							</div>

						</div>


					</div>	
				</div>
			</div>



		</div>

		<!-- side bar -->
		<div class="col-xs-12 col-md-3">
			<p class="lead">{{ vm.data.location.name }} is on myLoc8r because it has accessible wifi and space to sit down with your laptop and get some work done.</p>
			<p>If you've been and you like it - or if you don't - please leave a review to help other people just like you.</p>		
			
		</div>



	</div>

	
	<!-- <footer-generic></footer-generic> -->

</div>


<!-- Review Form Modal: -->
<!-- Modal -->

<!-- Button trigger modal -->


<!-- Add Review Modal -->
<!-- <div class="modal fade" id="reviewForm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true"> -->
	<!-- <div class="modal-dialog "> -->
		<!-- <div class="modal-content"> -->
			<!-- <div class="modal-header"> -->
				<!-- <h5 class="modal-title" id="staticBackdropLabel">Add a review for {{vm.locationData.locationName}}</h5> -->
				<!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
			<!-- </div> -->
	
			<!-- <div class="modal-body"> -->
				<!-- ... -->
			<!-- </div> -->
	
			<!-- <div class="modal-footer"> -->
				<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
				<!-- <button type="button" class="btn btn-primary">Understood</button> -->
			<!-- </div> -->

		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->


<!-- <div class="modal-dialog modal-xl">
	<div class="modal-content">
		<form id="addReview" name="addReview" role="form" ng-submit="vm.onSubmit()" class="form-horizontal">
			
			<div class="modal-header">
				<button type="button" ng-click="vm.modal.cancel()" class="close"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 id="myModalLabel" class="modal-title">Add your review for {{ vm.locationData.locationName }}</h4>
			</div>

			<div class="modal-body">
				
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
 -->				
	<!-- 			<div class="form-group">
					<label for="name" class="col-xs-2 col-sm-2 control-label">Name</label>
					<div class="col-xs-10 col-sm-10">
						<input id="name" name="name" required="required" ng-model="vm.formData.name" class="form-control"/>
					</div>
				</div> -->
				
<!-- 				<div class="form-group">
					<label for="rating" class="col-xs-10 col-sm-2 control-label">Rating</label>
					<div class="col-xs-12 col-sm-2">
						<select id="rating" name="rating" ng-model="vm.formData.rating" class="form-control input-sm">
							<option>5</option>
							<option>4</option>
							<option>3</option>
							<option>2</option>
							<option>1</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label for="review" class="col-sm-2 control-label">Review</label>
					<div class="col-sm-10">
						<textarea id="review" name="review" rows="5" required="required" ng-model="vm.formData.reviewText" class="form-control"></textarea>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button ng-click="vm.modal.cancel()" type="button" class="btn btn-default">Cancel</button>
				<button type="submit" class="btn btn-primary">Submit review</button>
			</div>

		</form>
	</div>
</div>
 -->



